### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [4]:
## Declaring and assigning variables
age = 32
height  =6.1
name = "krish"
is_student = True
print(age, height,name, is_student)
print("Age: ", age)
print("Student: ", is_student)

32 6.1 krish True
Age:  32
Student:  True

In [ ]:
## Naming Conventions
## Variables name should be descriptive
## They must always start with the letter or an '_' and contains letter,numbers and underscores
## variables names are case sensitive

## valid variable name

first_name = "krish"
last_name ="naik"

In [8]:
## invalid variable name
# 2age =30
# first-name = "krish"
@name = "krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3781694810.py, line 4)

In [12]:
## understanding variables types
## Python is dynamically typed, type of a variable is determined at runtime.
age = 25 #int
height = 6.1 #float
is_student = True #boolean

print(type(age))
print(type(height))

<class 'int'>
<class 'float'>

In [ ]:
## Type Checking and conversion
type(height)

In [13]:
age =25
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
name = "krish"
int(name)

ValueError: invalid literal for int() with base 10: 'krish'

In [20]:
height  = 6.1
# type(height)
int(height)
print(type(int(height)))

<class 'int'>

In [24]:
## Dynamic Typing
## python allows the type of variable to chang as the program executes
var = 10
print(var, type(var))

var = "asdf"
print(var, type(var))

var = 9.1
print(var, type(var))

10 <class 'int'>
asdf <class 'str'>
9.1 <class 'float'>

In [28]:
## INPUT
age = int(input("What is the age?"))
print(age, type(age))

2345 <class 'int'>

In [29]:
## simple calculator
num1 = float(input("Enter first number"))
num2 = float(input("Enter second number"))
sum = num1+num2
difference = num1-num2
product = num1*num2
quotient = num1/num2

print("Sum: ",sum)
print("Difference: ",difference)
print("Product: ", product)
print("Quotient: ",quotient)

Sum:  124690.0
Difference:  -122222.0
Product:  152344704.0
Quotient:  0.009995463970969414